<div class="header">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="brand">
        <img src="assets/logo.png" alt="TravelQuest Logo" height="40" class="mr-2" />
        <span class="app-name">TravelQuest</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="user-info" *ngIf="currentUser">
        <p-avatar [label]="getUserInitials()" shape="circle" class="mr-2" styleClass="user-avatar"></p-avatar>
        <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
        <button 
          pButton 
          type="button" 
          (click)="userMenu.toggle($event)" 
          class="p-button-text p-button-rounded user-menu-button"
        >
          {{ currentUser.name }}
          <i class="pi pi-angle-down ml-2"></i>
        </button>
      </div>
    </ng-template>
  </p-menubar>
</div>
